In [1]:
# Program for demonstration of one hot encoding and scaling
  
# import libraries 
import numpy as np 
import pandas as pd 
  
# import the data required 
data = pd.read_csv('drinks.csv')
data.head(8)

              name  neighborhood     type  price
0  barneys beanery      westwood  alcohol     16
1           roccos      westwood  alcohol     18
2         sharetea  santa monica     boba      4
3            junpi  santa monica     boba      5
4             ichi  santa monica     boba     10
5     cabo cantina     brentwood  alcohol      6
6          bruhaus     brentwood  alcohol     11
7     qs billiards     brentwood  alcohol     25

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
name            8 non-null object
neighborhood    8 non-null object
type            8 non-null object
price           8 non-null int64
dtypes: int64(1), object(3)
memory usage: 384.0+ bytes

In [3]:
data = data.drop("name", axis = 1)

In [4]:
# label encoding the data 
from sklearn.preprocessing import LabelEncoder 
  
le = LabelEncoder() 
  
data['neighborhood']= le.fit_transform(data['neighborhood']) 
data['type']= le.fit_transform(data['type'])
data.head(8)

   neighborhood  type  price
0             2     0     16
1             2     0     18
2             1     1      4
3             1     1      5
4             1     1     10
5             0     0      6
6             0     0     11
7             0     0     25

In [5]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_transformer

In [6]:
preprocess = make_column_transformer(
    (StandardScaler(), ['price']),
    (OneHotEncoder(categories='auto'), ['neighborhood', 'type'])
)

In [7]:
preprocess.fit_transform(data)

array([[ 0.60259525,  0.        ,  0.        ,  1.        ,  1.        ,
         0.        ],
       [ 0.89476265,  0.        ,  0.        ,  1.        ,  1.        ,
         0.        ],
       [-1.15040912,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        ],
       [-1.00432542,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        ],
       [-0.27390693,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        ],
       [-0.85824173,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [-0.12782324,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ],
       [ 1.91734854,  1.        ,  0.        ,  0.        ,  1.        ,
         0.        ]])